In [1]:
# Import the necessary libraries
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import pandas as pd
import gensim
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to /Users/jiaqixia/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jiaqixia/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/jiaqixia/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
df_closed = pd.read_csv("data_closed2.csv")
df_closed

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,text_clean
0,0,Dl1alpHSJE4_iB0MGKRLXw,Johnny Rockets,5555 St. Louis Mills Blvd,Hazelwood,MO,63042,38.786090,-90.415775,2.0,...,"Food, Fast Food, Sandwiches, Restaurants, Amer...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",4SEXTQLtMxIyK1Lo59GBFA,2RUoIlkN7ncxXfen3RLtdg,1,1,0,1,"Horrible, horrible service. I took friends who...",horrible horrible service took friend town pla...
1,1,Dl1alpHSJE4_iB0MGKRLXw,Johnny Rockets,5555 St. Louis Mills Blvd,Hazelwood,MO,63042,38.786090,-90.415775,2.0,...,"Food, Fast Food, Sandwiches, Restaurants, Amer...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",8wggawlh1tdk3rW_xOrGXw,pQrWjL22u-vSWMwS9yZ_Yg,3,0,0,0,"Great 50""s style restaurant. walk up as well ...",great 50 style restaurant walk well dine locat...
2,2,Dl1alpHSJE4_iB0MGKRLXw,Johnny Rockets,5555 St. Louis Mills Blvd,Hazelwood,MO,63042,38.786090,-90.415775,2.0,...,"Food, Fast Food, Sandwiches, Restaurants, Amer...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",st0bXvJryBeObZJ7CLaZyQ,E_OOZjrlgDTTCHT5p2tG_w,4,2,1,1,I enjoy myself some diner food every once and ...,enjoy diner food every healthy dont mind rare ...
3,3,Dl1alpHSJE4_iB0MGKRLXw,Johnny Rockets,5555 St. Louis Mills Blvd,Hazelwood,MO,63042,38.786090,-90.415775,2.0,...,"Food, Fast Food, Sandwiches, Restaurants, Amer...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",pTkDE-Ue2Au-oFfzZ4IAcw,DSCj0grbiqsSVtq-5H9oyQ,1,0,0,0,I have never had a poor experience at Johnny R...,never poor experience johnny rocket today poor...
4,4,Dl1alpHSJE4_iB0MGKRLXw,Johnny Rockets,5555 St. Louis Mills Blvd,Hazelwood,MO,63042,38.786090,-90.415775,2.0,...,"Food, Fast Food, Sandwiches, Restaurants, Amer...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",As3d4pRlm6T73lm7hpp4sA,FtYiSgEieRWtkqJJ6Zkzhg,1,0,0,0,I hate to use hyperbole but Johnny Rockets is ...,hate use hyperbole johnny rocket blight diner ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28260,28267,5ufcSii8MbAI3Yn5BQq2tA,Denny's,1096 Shighway Dr,Fenton,MO,63026,38.541507,-90.467582,2.5,...,"American (Traditional), Diners, Breakfast & Br...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",AaeZ2N5qj6UN69sJ3NEO-Q,0yDJnbmZOR-3OkpG1rTmDQ,5,1,1,0,After following Sunday mass we stop by Denny's...,following sunday mass stop dennys fenton place...
28261,28268,5ufcSii8MbAI3Yn5BQq2tA,Denny's,1096 Shighway Dr,Fenton,MO,63026,38.541507,-90.467582,2.5,...,"American (Traditional), Diners, Breakfast & Br...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",QNLLlhAZmEbD0Gg2ADP9Kg,oYC8YkIQq3UFawY3d8MZHg,1,3,0,0,Worst experience at a Denny's I have ever had....,worst experience dennys ever maybe 6 table ful...
28262,28269,5ufcSii8MbAI3Yn5BQq2tA,Denny's,1096 Shighway Dr,Fenton,MO,63026,38.541507,-90.467582,2.5,...,"American (Traditional), Diners, Breakfast & Br...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",_F61WTdxURJlk5fp2yJyjw,YP8s2GVRg9KNepakB99y5w,1,1,0,0,Never again! We had just been to the Wolf San...,never wolf sanctuary hungry decided stop taco ...
28263,28270,5ufcSii8MbAI3Yn5BQq2tA,Denny's,1096 Shighway Dr,Fenton,MO,63026,38.541507,-90.467582,2.5,...,"American (Traditional), Diners, Breakfast & Br...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",exehVcBvcALmIVIq8pJMRw,kncH-kJB2cUc6WIaCdWpKA,1,0,0,0,"This place is so hit or miss, I'd just as soon...",place hit miss id soon ever eat go every almos...
28264,28271,5ufcSii8MbAI3Yn5BQq2tA,Denny's,1096 Shighway Dr,Fenton,MO,63026,38.541507,-90.467582,2.5,...,"American (Traditional), Diners, Breakfast & Br...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",8WCcEvYWVPlp_GD8sf2OYQ,S5x3bBh7tXL70N2gLZn1ZQ,5,1,0,0,Wow! Who gives you an extra to-go cup of hot ...,wow give extra togo cup hot water tea bag alon...

In [4]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
for idx in df_closed.index:
    review = df_closed.at[idx,"text_clean"]
    test_subset = review.split(" ")
    sid = SentimentIntensityAnalyzer()
    pos_word_list=[]
    neg_word_list=[]

    for word in test_subset:
        if (sid.polarity_scores(word)['compound']) > 0.5:
            pos_word_list.append(word)
        elif (sid.polarity_scores(word)['compound']) <-0.5:
            neg_word_list.append(word)
  
    df_closed.at[idx,"positive"] = " ".join(pos_word_list)
    df_closed.at[idx,"negative"] = " ".join(neg_word_list)

KeyboardInterrupt:

In [ ]:
df_closed

In [ ]:
aggregation_functions = {"name":"first", 'stars_y': 'mean', "text_clean":' '.join ,'positive': ' '.join, 'negative':  ' '.join}
df_closed_new = df_closed.groupby(df_closed['business_id']).aggregate(aggregation_functions)

In [ ]:
try:
    df_closed_new["positive"] = df_closed_new["positive"].apply(lambda x:x.split())
    df_closed_new["negative"] = df_closed_new["negative"].apply(lambda x:x.split())
except:
    pass

In [ ]:
df_closed_new

In [ ]:
df_closed_new["positive_count"] = df_closed_new["positive"].apply(lambda x:len(x))
df_closed_new["negative_count"] = df_closed_new["negative"].apply(lambda x:len(x))
df_closed_new["idx"] = range(0,len(df_closed_new))
df_closed_new.set_index("idx",inplace=True)
df_closed_new

In [ ]:
df_closed_new.to_csv("df_close_new.csv")

In [8]:
df_closed_new = pd.read_csv("df_close_new.csv")
df_closed_new

,idx,name,stars_y,text_clean,positive,negative,positive_count,negative_count
0,0,Chuy's Mesquite Broiler - Valencia,3.153846,wife found hair food food ok chicken wing ok b...,"['best', 'enjoyed', 'yummy', 'delicious', 'enj...","['hurt', 'bad', 'bad', 'unprofessional', 'horr...",29,8
1,1,Spice Box,3.883721,tandoori chicken taco something else work food...,"['amazing', 'perfectly', 'great', 'awesome', '...","['worst', 'disappointment', 'bad', 'worst', 'd...",87,9
2,2,Hardee's,1.777778,try believe horrible review one hardees true p...,"['love', 'delicious']","['horrible', 'negative', 'bad', 'angry', 'nega...",2,7
3,3,Subway,2.333333,communication absolutely atrocious ordered onl...,"['great', 'perfection', 'delicious', 'love', '...","['bad', 'bad', 'worst', 'disgusting', 'bad']",6,5
4,4,Krispy Krunchy Chicken,2.600000,though place located inside gas station skepti...,"['great', 'free', 'best', 'kind']","['furious', 'insult', 'saddest', 'racist', 'ha...",4,7
...,...,...,...,...,...,...,...,...
905,905,Fazoli's,3.181818,youd expect gas station version fazolis nice a...,"['best', 'great', 'free', 'free', 'great', 'lo...","['bad', 'negative']",18,2
906,906,Jimmy John's,1.538462,30 minute food called find going said would an...,"['happy', 'positive', 'happy', 'fun', 'perfect']","['worst', 'dead', 'worst', 'worst', 'bad', 'wo...",5,7
907,907,Coreanos Philly,3.857143,ordered beef carnitas fried chicken taco prett...,"['great', 'awesome', 'love', 'great', 'best', ...","['disaster', 'neglected', 'bad', 'bad', 'bad',...",140,10
908,908,Jimmy John's,3.956522,place rock love sub get stuff try good love tu...,"['love', 'love', 'love', 'love', 'great', 'del...","['fired', 'negative', 'bad']",41,3
909,909,Subway Restaurants,4.000000,freshest veggie meat sub great sandwich always...,"['great', 'outstanding', 'happy', 'best', 'lov...","['pathetic', 'crappy', 'bad']",9,3

In [6]:
data = [['cheese', 0, 0], ['hot', 0, 0], ['pizza', 0, 0], ['salad', 0, 0],['taco', 0, 0],['burger', 0, 0]]
  
# Create the pandas DataFrame
food_df = pd.DataFrame(data, columns=["name",'pos_count', 'neg_count'])
food_df = food_df.set_index("name")
food_df

        pos_count  neg_count
name
cheese          0          0
hot             0          0
pizza           0          0
salad           0          0
taco            0          0
burger          0          0

In [23]:
food_list = ["cheese", "hot", "pizza", "salad", "taco", "burger"]
pos_count = 0
neg_count = 0
for i in range(0,len(df_closed_new)):
    text = df_closed_new["text_clean"][i]
    if "burger" in text:
        pos_count += df_closed_new.at[i,"positive_count"]
        neg_count += df_closed_new.at[i,"negative_count"]
food_df.at["burger","pos_count"] = pos_count
food_df.at["burger","neg_count"] = neg_count

In [25]:
food_df["attitude_score"] = food_df["pos_count"]/(food_df["pos_count"]+food_df["neg_count"])

In [26]:
food_df

        pos_count  neg_count  attitude_score
name
cheese      37196       9858        0.790496
hot         39944      10330        0.794526
pizza       16565       3347        0.831910
salad       32736       7674        0.810097
taco        18182       4901        0.787679
burger      27139       7487        0.783775

In [27]:
food_df.to_csv("food_df.csv")

In [ ]:
df_closed_new.at["Dl1alpHSJE4_iB0MGKRLXw","positive"]

In [ ]:
df_closed_new.to_csv("df_close_new.csv")

In [ ]:
df_open = pd.read_csv("open_cleaned_reviews.csv")
df_open

In [ ]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
for idx in df_open.index:
    review = df_open.at[idx,"text"]
    test_subset = review.split(" ")
    sid = SentimentIntensityAnalyzer()
    pos_word_list=[]
    neg_word_list=[]

    for word in test_subset:
        if (sid.polarity_scores(word)['compound']) > 0:
            pos_word_list.append(word)
        elif (sid.polarity_scores(word)['compound']) <0:
            neg_word_list.append(word)
  
    df_open.at[idx,"positive"] = " ".join(pos_word_list)
    df_open.at[idx,"negative"] = " ".join(neg_word_list)

In [ ]:
aggregation_functions = {"name":"first", 'stars_y': 'mean', 'positive': ' '.join, 'negative':  ' '.join}
df_open_new = df_open.groupby(df_open['business_id']).aggregate(aggregation_functions)

In [ ]:
df_open_new

In [ ]:
df_open_new.to_csv("df_open_new.csv")